<div class="d-flex flex-row justify-content-md-start align-items-center m-2" @onclick=@OnCLick >
    <img class="rounded-circle me-2" src=@Language.Flag width=30 height=30/>
    <span class= "fw-semibold">@Language.Value</span>
</div>


