<nav class="navbar navbar-expand-md bg-primary">
    <div class="container-fluid justify-content-md-between flex-row-reverse ">
            <NavControls TargetId=@_targetId></NavControls>
            <NavContent TargetId=@_targetId></NavContent>
    </div>
</nav>

